.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

mat-form-field {
  width: 100%;
}

.text-right {
  text-align: right;
}

.green-button {
  background-color: #6cbb6f !important;
  color: white !important;
}
.green-button:hover {
  background-color: #43A047 !important;
}